{% extends "base.html" %}
<meta http-equiv="Cache-control" content="public">
{% load static %}
{% block styles%}
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> {% endcomment %}
<link rel="stylesheet" href="{% static 'cards/css/card_home.css' %}" />
<script src="{% static "cards/js/card_home.js" %}"></script>

{% endblock %}
{% block page_content %}

<body data-src="{% static path %}resize/background-cards.webp" class="background-image lazy">
    <h1>Cards</h1>
    <div class="row hidden">
        {% for key, value in sports.items %}
        <div class="column">
            <div class="container">
                <a href="{% url 'card_index'%}" class="btn btn-primary">
                    <img class="lazy" src="{% static path %}placeholder/{{ key }}-preview.svg"
                        onerror="{% static path %}placeholder/{{ key }}-preview.webp"
                        data-src="{% static path %}resize/{{ key }}.webp">

                    <div class="centered-text ">{{key.upper}}</div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

{% endblock %}